In [233]:
#1 Importa las librerías requeridas.
import pandas as pd
from sklearn import preprocessing
from sklearn.decomposition import PCA

In [234]:
#2 Lee el archivo CSV llamado empleadosRETO.csv y coloca los datos
# en un frame de Pandas llamado EmpleadosAttrition.
EmpleadosAttrition = pd.read_csv("empleadosRETO.csv")

In [ ]:
#3 Elimina las columnas que, con alta probabilidad (estimada por ti), 
# no tienen relación alguna con la salida.
EmpleadosAttrition.drop("EmployeeCount", axis = 1, inplace=True)
EmpleadosAttrition.drop("EmployeeNumber", axis = 1, inplace=True)
EmpleadosAttrition.drop("Over18", axis = 1, inplace=True)
EmpleadosAttrition.drop("StandardHours", axis = 1, inplace=True)

In [236]:
#5 Crea una columna llamada Year y obtén el año de contratación 
# del empleado a partir de su fecha ‘HiringDate’.
EmpleadosAttrition['Year'] = EmpleadosAttrition['HiringDate'].str[-4:].astype(int)

In [237]:
#6 y #4 Crea una columna llamada YearsAtCompany que contenga los años que el empleado
#lleva en la compañía hasta el año 2018.
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Year']

In [238]:
#7 y #8 La DistanceFromHome está dada en kilómetros, pero tiene las letras 
# “km” al final y así no puede ser entera. Renombra la variable DistanceFromHome 
# a DistanceFromHome_km
EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'}, inplace=True)

In [239]:
#9 Crea una nueva variable DistanceFromHome que sea entera.
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace('km', '').astype(int)

In [240]:
#10 Borra las columnas Year, HiringDate
# y DistanceFromHome_km debido a que ya no son útiles.
EmpleadosAttrition.drop("Year", axis = 1, inplace=True)
EmpleadosAttrition.drop("DistanceFromHome_km", axis = 1, inplace=True)
EmpleadosAttrition.drop("HiringDate", axis = 1, inplace=True)

In [241]:
#11 Genera una nuevo frame llamado SueldoPromedioDepto que contenga el 
# MonthlyIncome promedio por departamento de los empleados y colócalo 
# en una variable llamada SueldoPromedio. 
SueldoPromedioDepto = EmpleadosAttrition.groupby(['Department'])[['MonthlyIncome']].mean().round(2)
SueldoPromedioDepto

                        MonthlyIncome
Department
Human Resources               6239.89
Research & Development        6804.15
Sales                         7188.25

In [242]:
#12  Escala MonthlyIncome para que tenga un valor entre 0 y 1. 
EmpleadosAttrition['MonthlyIncome_norm'] = (EmpleadosAttrition['MonthlyIncome']-
EmpleadosAttrition['MonthlyIncome'].min())/(EmpleadosAttrition['MonthlyIncome'].max()-
EmpleadosAttrition['MonthlyIncome'].min())

EmpleadosAttrition = EmpleadosAttrition.drop(columns=['MonthlyIncome'])

In [243]:
#13a Convierte todas las variables categóricas que quedan a numéricas:
BusinessTravel_OH = pd.get_dummies(EmpleadosAttrition['BusinessTravel'], prefix='BusinessTravel', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['BusinessTravel'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, BusinessTravel_OH], axis=1)

In [244]:
#13b Convierte todas las variables categóricas que quedan a numéricas:
Department_OH_OH = pd.get_dummies(EmpleadosAttrition['Department'], prefix='Department', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['Department'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, Department_OH], axis=1)

In [245]:
#13c Convierte todas las variables categóricas que quedan a numéricas:
EducationField_OH = pd.get_dummies(EmpleadosAttrition['EducationField'], prefix='EducationField', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['EducationField'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, EducationField_OH], axis=1)

In [246]:
#13d Convierte todas las variables categóricas que quedan a numéricas:
Gender_OH = pd.get_dummies(EmpleadosAttrition['Gender'], prefix='Gender', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['Gender'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, Gender_OH], axis=1)

In [247]:
#13e Convierte todas las variables categóricas que quedan a numéricas:
JobRole_OH = pd.get_dummies(EmpleadosAttrition['JobRole'], prefix='JobRole', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['JobRole'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, JobRole_OH], axis=1)

In [248]:
#13f Convierte todas las variables categóricas que quedan a numéricas:
MaritalStatus_OH = pd.get_dummies(EmpleadosAttrition['MaritalStatus'], prefix='MaritalStatus', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['MaritalStatus'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, MaritalStatus_OH], axis=1)

In [249]:
#Convierte todas las variables categóricas que quedan a numéricas:
OverTime_OH = pd.get_dummies(EmpleadosAttrition['OverTime'], prefix='OverTime', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['OverTime'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, OverTime_OH], axis=1)
EmpleadosAttrition['OverTime'] = EmpleadosAttrition['OverTime_Yes']
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['OverTime_No', 'OverTime_Yes'])

In [250]:
#13g Convierte todas las variables categóricas que quedan a numéricas:
Attrition_OH = pd.get_dummies(EmpleadosAttrition['Attrition'], prefix='Attrition', dtype=int)
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['Attrition'])
EmpleadosAttrition = pd.concat([EmpleadosAttrition, Attrition_OH], axis=1)
EmpleadosAttrition['Attrition'] = EmpleadosAttrition['Attrition_Yes']
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['Attrition_No', 'Attrition_Yes'])

In [252]:
#14 Calcula la correlación lineal de cada una de las variables con 
# respecto al Attrition.
correlation_matrix=EmpleadosAttrition.corr()
correlation_attrition = correlation_matrix['Attrition'].drop('Attrition')
print(correlation_attrition)

Age                                 -0.212121
Education                           -0.055531
EnvironmentSatisfaction             -0.124327
JobInvolvement                      -0.166785
JobLevel                            -0.214266
JobSatisfaction                     -0.164957
NumCompaniesWorked                  -0.009082
PercentSalaryHike                   -0.060880
PerformanceRating                   -0.006471
RelationshipSatisfaction            -0.030945
TotalWorkingYears                   -0.213329
TrainingTimesLastYear               -0.070884
WorkLifeBalance                     -0.021723
YearsInCurrentRole                  -0.203918
YearsSinceLastPromotion             -0.069000
YearsAtCompany                      -0.176001
DistanceFromHome                     0.052732
MonthlyIncome_norm                  -0.194936
BusinessTravel_Non-Travel           -0.100698
BusinessTravel_Travel_Frequently     0.035387
BusinessTravel_Travel_Rarely         0.042755
clase_Human Resources                0.023389
clase_Research & Development        -0.072269
clase_Sales                          0.066116
EducationField_Human Resources       0.043404
EducationField_Life Sciences        -0.027457
EducationField_Marketing             0.016768
EducationField_Medical              -0.054144
EducationField_Other                -0.004275
EducationField_Technical Degree      0.129104
Gender_Female                        0.028839
Gender_Male                         -0.028839
JobRole_Healthcare Representative   -0.103274
JobRole_Human Resources              0.032714
JobRole_Laboratory Technician        0.125264
JobRole_Manager                     -0.089885
JobRole_Manufacturing Director      -0.042404
JobRole_Research Director           -0.116263
JobRole_Research Scientist           0.007977
JobRole_Sales Executive             -0.003115
JobRole_Sales Representative         0.191294
MaritalStatus_Divorced              -0.107869
MaritalStatus_Married               -0.094734
MaritalStatus_Single                 0.205849
OverTime                             0.324777
Name: Attrition, dtype: float64

In [ ]:
#15 Selecciona solo aquellas variables que tengan una correlación mayor 
# o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal.
lvs = 0.1
filtrar_variables = correlation_attrition[correlation_attrition.abs() >= lvs].index
EmpleadosAttritionFinal = EmpleadosAttrition[filtrar_variables]
EmpleadosAttritionFinal['Attrition'] = EmpleadosAttrition['Attrition']

In [ ]:
#16 Crea una nueva variable llamada EmpleadosAttritionPCA 
# formada por los componentes principales del frame EmpleadosAttritionFinal.
pca = PCA()
EmpleadosAttritionPCA = pca.fit_transform(EmpleadosAttritionFinal)

#17 Agrega el mínimo número de Componentes Principales en columnas del frame
# EmpleadosAttritionPCA que logren explicar el 80% de la varianza, 
# al frame EmpleadosAttritionFinal llamando a cada unaC0, C1, etc.
explained_variance = pca.explained_variance_ratio_.cumsum()
num_components = (explained_variance >= 0.80).argmax() + 1

for i in range(num_components):
    EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(**{f'C{i}': EmpleadosAttritionPCA[:, i]})

In [258]:
#18 Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal
# en un archivo CSV llamado EmpleadosAttritionFinal.csv.
EmpleadosAttritionFinal.to_csv("EmpleadosAttritionFinal.csv", index=False)